.burger {
    margin: 0 0 0 auto;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 4px;
    top: 30px;
    cursor: pointer;
    display: none;
    .first {
        position: absolute;
        width: 50px;
        height: 4px;
        border-radius: 5px;
        background-color: #fdff00;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 1s;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 9px;
        }

        &:nth-child(3) {
            top: 9px;
        }

        &:nth-child(4) {
            top: 18px;
        }
    }
    &.open {
        display: block;
        .first {
    
            &:nth-child(1) {
                top: 9px;
                width: 0;
                height: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
    
            &:nth-child(2) {
                // top: 16px;
                transform: rotate(40deg);
            }
    
            &:nth-child(3) {
                // top: 16px;
                transform: rotate(-40deg);
            }
    
            &:nth-child(4) {
                top: 9px;
                width: 0;
                height: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}

.header {
    padding: 16px 0;
    background-color: #3c3e76;
    z-index: 99;
    position: relative;
    a {
        color: #fff;
        display: block;
        margin: 0 0 0 auto;
        width: 150px;
        text-align: left;
        text-decoration: none;
        font-size: 18px;
        line-height: 26px;
    }
}


@media screen and (max-width: 800px) {
    header {
        position: fixed;
        width: 100%;
        z-index: 111;
    }
    .burger {
        display: block;
        z-index: 110;
    }
    .header {
        height: 54px;
        .header_mob {
            position: absolute;
            opacity: 0;
            transition: all 1s;
            right: 0;
            left: 0;
            top: 85px;
            margin: auto;
            &.open {
                opacity: 1;
                top: 85px;
                background: #3c3e76e0;
                width: 100%;
                right: 0;
            }
        }
        a {
            margin: 0;
            text-align: center;
            width: 100%;
        }
    }
    
}